#container {
    max-width: 500px;
    margin: 50px auto;
    background: black;
    padding: 20px;
    color: white;
}

form {
    padding: 5px;
}

#output_container {
    padding: 10px;
}

body {
    background-image: url('img/watermelon-sugar.jpg');
    background-size: 100px;
    background-repeat: repeat-y repeat-x;
}